.game-field {
  margin: 50px auto;
  border: 2px ridge darkred;
  background-color: lightgray;
  position: relative;
  width: 600px;
  height: 500px;
}

.snake-body {
  border: 1px ridge blueviolet;
  background-color: blueviolet;
  /* Position absolute so that the snake can appear on top of everything o the background */
  position: absolute;
  width: 2%;
  height: 2%;
  z-index: 2;
}

.food {
  border: 1px ridge blue;
  background-color: blue;
  /* Position absolute so that the food as well as the snake can appear on top of everything o the background */
  position: absolute;
  width: 2%;
  height: 2%;
  z-index: 1;
}
